*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
}

body{
    text-align: center;
    zoom: 100%;
}

#head{
    width: max-content;
    margin: auto;
}

#navbarListe{
    display: flex;
    margin: 20px 0 ;
    gap: 20px;
    justify-content: center;
}

#navbarListe li{
    border: 2px solid black;
    padding: 1rem;
    border-radius:10px ;
    cursor: pointer;
    color: goldenrod;
}
#navbarListe li:hover{
    background-color: goldenrod;
    color: white;
}

#corps{
    width: 1200px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
}

.title{
    font-size: 1.5em;
    text-decoration: underline 2px dashed;
    text-underline-offset:0.4em;
    margin: 0 0 1em 0;
}

.example{
    margin: 0 0 0 1em;
}

.template{
    display: flex;
    width: 600px;
    max-width: max-content;
    margin-top: 30px;
}

.imgFood{
    width: 15rem;
    border: 3px solid chocolate;
    border-radius: 0.5em;
}


@media screen and (min-width: 600px) and (max-width: 900px){
    #corps{
        display: inline-block;
        width: 600px;
        margin: 0;

    }

    .example{
        width: 600px;
    }

    .template{
        margin-inline: auto;
        margin-top: 50px;
    }

    .imgFood{
        width: 200px;
    }
}

@media screen and (max-width: 600px){

    #corps{
        display:block;
        width: 90vw;
        margin-inline: auto;
    }

    .example{
        width: 90vw;
    }

    .template{
        margin-inline: auto;
        width: max-content;
        display: block;
        margin-top: 50px;
    }

    #navbarListe{
        display: flex;
        margin: 20px 0 ;
        gap: 1px;
        justify-content: center;
        width: 300px;
        font-size: 0.9rem;
    }

    .imgFood{
        width: 200px;
    }
}

@media screen and (max-width: 400px){
    #navbarListe{
        display: flex;
        margin: 20px 0 ;
        gap: 1px;
        justify-content: center;
        width: 300px;
        font-size: 0.9rem;
    }

    .title{
        font-size: 0.8em;
        text-decoration: underline 2px dashed;
        text-underline-offset:0.4em;
        margin: 0 0 1em 0;
    }

}

@media screen and (max-width: 378px){

    #navbarListe{
        display: flex;
        margin: 20px 0 ;
        justify-content: center;
        width: 300px;
        font-size: 0.5rem;
    }
}



